#general
.idea
*.iml
logs
*.log
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#backend
/backend/target
/backend/src/main/resources/static
/backend/src/main/resources/application-local.properties

#frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/npm-debug.log*
frontend/.local

#docs
docs/local